@page "/counter"
<p>@person.SalePerson</p>
<p>@person.Amount.ToString("c")</p>

<p>
    <input type="number" @bind="person.Amount" @bind:event="oninput" />
</p>
<p>
    <input type="checkbox" @bind-value="person.isActive" />@person.isActive
</p>
<p>
    <input type="radio" value="1" name="group" checked="(@selectedGroup==1)" @onclick="@(()=>selectedGroup=1)" />1
    <input type="radio" value="2" name="group" checked="(@selectedGroup==2)" @onclick="@(()=>selectedGroup=2)" />2
    <input type="radio" value="3" name="group" checked="(@selectedGroup==3)" @onclick="@(()=>selectedGroup=3)" />3
    <input type="radio" value="4" name="group" checked="(@selectedGroup==4)" @onclick="@(()=>selectedGroup=4)" />4

</p>
@selectedGroup
<p>

    <select @bind="selectedLocationId">
        @foreach (var loc in person.Locations)
        {
            <option value="@loc.Id"> @loc.City</option>
        }
    </select>
    @selectedLocationId
</p>
<ul>
    @foreach (var loc in person.Locations)
    {
        <li> @loc.City @loc.ProvState @loc.Country</li>
    }
</ul>

<p>
    <table class="table">

        @foreach (var loc in person.Locations)
        {
            <tr>
                <td> @loc.Id </td>
                <td> <input type="text" class="form-control" @bind-value="loc.City" @bind-value:event="oninput" />  </td>
                <td> <input type="text" class="form-control" @bind-value="loc.ProvState" @bind-value:event="oninput" /> </td>
                <td><input type="text" class="form-control" @bind-value="loc.Country" @bind-value:event="oninput" /> </td>
            </tr>

        }
    </table>

</p>
@code{
    IndexViewModel person = null;
    int selectedGroup = 1;
    int selectedLocationId = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        person = new IndexViewModel
        {
            SalePerson = "Ivica",
            Amount = 15000,
            isActive = true,
            Locations = new List<Location>
         {
            new Location{Id=1, City="Zagreb",ProvState="Zagrebačka",Country="HR"},
            new Location{Id=2, City="Komin",ProvState="Dubrovačka",Country="Cro"}
             }
        };
    }

    #region "View Model"
    class IndexViewModel
    {
        public string SalePerson { get; set; }
        public double Amount { get; set; }
        public bool isActive { get; set; }
        public List<Location> Locations { get; set; }

    }
    class Location
    {
        public int Id { get; set; }
        public string City { get; set; }
        public string ProvState { get; set; }
        public string Country { get; set; }
    }


    #endregion
}
